<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
.content{
    display: block;
}
    </style>
    <title>Backend13</title>
</head>
<body>
<div>Страница товаров</div>

<h2>Удаление из базы данных по нажатию на кнопки</h2>
<div>
    <h3><div>Задача 1</div></h3>
    <p class="serif">Создать в базе данных таблицу товаров: </p>
    <h3>id
        <div>tovarname</div>
        <div>price</div>
        <div>sale</div></h3>
    <div>Пусть будет всего  три товара у нас там.</div>
    <div>Вывести на главной странице проекта список(массив) этих товаров из бд желательно в таблице </div>
    <div>Напротив каждого товара делаем кнопку -крестик </div>

    <h3><div>Задача 2</div></h3>
    При нажатии на “удалить” - нужно вывести сообщение «вы уверены что хотите удалить этот товар?”<br>
    (В этом поможет функция confirm)<br>
    Читаем про конфирм https://learn.javascript.ru/alert-prompt-confirm<br>
    Если человек ответит да - то мы делаем удаление именно этого товара из базы и переводим на главную страницу <br>
    Если ответ нет - то отменяем действие.<br>
</div>
<h4><div>Решение</div></h4>
<div class="content">
<table border="2">
    <tr>
        <td>id</td>
        <td>название</td>
        <td>цена</td>
        <td>скидка</td>
        <td>действие</td>
    </tr>
    {% for all_goods_s in all_goods %}

        <form action="/backendout13/" method="post">
            {% csrf_token %}
            <tr>
                <td>{{ all_goods_s.0 }}</td>
                <td>{{ all_goods_s.1 }}</td>
                <td>{{ all_goods_s.2 }}</td>
                <td>{{ all_goods_s.3 }}</td>
                <td><input type="hidden" name="id" value="{{ all_goods_s.0 }}">
                    <button  onclick="sendTell(this)" type="button" class="btn btn-danger" >Удалить</button></td>
            </tr>
        </form>
    {% endfor %}
</table>
</div>
<form action="/backcreate13/" method="post">
    {% csrf_token %}
    <input type="text" name="name" value="" placeholder="Введите название товара">
    <input type="text" name="price" value="" placeholder="Введите цену">
    <input type="text" name="sale" value="" placeholder="Введите скидку">
    <button>Добавить</button>
</form>
<script>
    function sendTell(test) {
        var test2=confirm('удалить этот товар?')
        if (test2 == true){
            //alert('ура')
            test.parentNode.parentNode.previousElementSibling.previousElementSibling.submit()
            //console.log(test.parentNode.parentNode.previousElementSibling.previousElementSibling)
        }
    }
</script>

</body>
</html>