{% extends "base.html" %}

{% block content %}
    {% block title %}<title>index</title>{% endblock title %}
    <style>
        .content_index{
            display: block;
        }
        p.serif {
            font-family: "Times New Roman", Times, serif;
        }
        .color{
            color: red;
        }

    </style>
</head>

    <div class="color">index</div>

    <ul>
            <div class="content_index">

            <li> <a href="{% url 'backend8' %}" >Chapter 8</a></li>
            <ul>
                <li><div>Редактирование в тодо сессии Django</div></li>
            </ul>
            <li> <a href="{% url 'backend9' %}" >Chapter 9</a></li>
            <ul>
                <li><div>Корзина JS localStorage сессии Django</div></li>
            </ul>
             <li> <a href="{% url 'backend10' %}" >Chapter 10</a></li>
                <ul>
                    <li><div>Корзина js дисконт сессии Django</div></li>
                </ul>
            <li> <a href="{% url 'backend11' %}" >Chapter 11</a></li>
                <ul>
                    <li><div>Форма регистрации и чекбокс я не робот</div></li>
                    <li><div class="color">сделать выборку из БД логина и пароля на странице после регистрации, это ваш логин и пароль</div></li>
                </ul>
            <li> <a href="{% url 'backend12' %}" >Chapter 12</a></li>
                <ul>
                    <li><div>Вывод скидки на страницу</div></li>
                </ul>
            <li> <a href="{% url 'backend13' %}" >Chapter 13</a></li>
                <ul>
                    <li><div>Удаление и js comfirm</div></li>
                    <li><div class="color">сделать добавление товара с страницы сайта</div></li>
                </ul>
                <li> <a href="{% url 'backend14' %}" >Chapter 14</a></li>
                <ul>
                    <li><div>Поиск в базе данных товаров: </div></li>
                </ul>
                <li> <a href="{% url 'backend15' %}" >Chapter 15</a></li>
                <ul>
                    <li><div>Поиск в базе данных товаров, при нажатии на чекбокс: </div></li>
                </ul>
                </div>
        </ul>

{% endblock content %}