{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Backend 18</title>{% endblock title %}
{% block content %}
    <div class="container">
    <style>
        div{
            text-align: left;
            word-wrap: normal;
        }
    </style>
    <div>Страница товаров</div>

    <div>
        <h3><div>Задача 1</div></h3>
        <p class="serif">Создать в базе данных таблицу товаров: </p>
        <h4>
            <div>id</div>
            <div>tovarname</div>
            <div>price</div>
            <div>sale</div>
            <div>category</div></h4>

        <div>Пусть будет всего  три товара у нас там.</div>
        <div> Вывести на главной странице проекта список(массив) этих товаров из бд <br>


        </div>

        <h3><div>Задача 2</div></h3>
        Создать страницу (админка), в которой можно было бы менять название категории товара + кнопка  <br>
        “сохранить изменения”. По ее нажатию делаем сохранение названия конкретной категории <br>
        товара в базе у всех товаров, которые относились к этой категории.<br>.
        P S после изменения на главной стр должны меняться категории товаров, которые мы изменили<br>
    </div>
    <h4><div>Решение</div></h4>
    <div style="color: #003366; margin-bottom: 20px;">Страница товаров</div>
    <table border="2">
        <tr>
            <td>id</td>
            <td>название</td>
            <td>цена</td>
            <td>скидка</td>
            <td>категория</td>

        </tr>
        {% for all_goods_s in all_goods %}
            <tr>
                <td>{{ all_goods_s.0 }}</td>
                <td>{{ all_goods_s.1 }}</td>
                <td>{{ all_goods_s.2 }}</td>
                <td>{{ all_goods_s.3 }}</td>
                <td>{{ all_goods_s.4 }}</td>

            </tr>
        {% endfor %}

    </table>

    <div style="font-size: 20px; color: red;"><a style="font-size: 20px; color: red; margin-left: 500px;" href="{% url 'backendout18' %}">Админка</a></div>

    </div>
{% endblock content %}