{% extends 'base.html' %}
{% block title %}<title>Backend 5</title>{% endblock title %}
{% block content %}
    <div>Страница товаров</div>

    <h2>Переход на страницу, подробное описание товара, количество просмотров  из сессии</h2>
    <div>
        <h3><div>Задача 1</div></h3>
        <div> Есть массив объектов или список справочников (для django) </div>
        <div> Мы будем сегодня делать магаз с карточкой  товара.  </div>
        <div>Итак в любом приложении сперва пишем этот массив объектов в сессию:</div>
        <h4><div>my_array = [[1, 'iphone 7', 300, 0],<br>
            [2, 'iphone 8', 400, 1],<br>
            [3, 'iphone X', 600, 0],<br>
            [2, 'iphone 7plus', 600, 1],<br>
            [3, 'iphone 6 plus', 600, 0],<br>
            ]</div></h4>

        <div>
            На главной стр вывести этот массив циклом и сделать кнопку “подробнее”. <br>
        По нажатию на нее нужно перевести клиента на отдельную страницу в которой <br>
        вывести всю инфу о телефоне и кол-во его просмотров - это view параметр <br>
        </div>

        <h3><div>Задача 2</div></h3>
        Количество просмотров <br>
        При заходе на каждую страницу нужно записать в массив этого телефона +1 просмотр <br>
        если еще раз зайдет юзер на нее - еще +1 просмотр и т д. <br>
        наподобие такого: <br>

    </div>
    <h4><div>Решение</div></h4>

        <table border="0">
            <tr>

                <td>Номер</td>
                <td>Название</td>
                <td>Цена</td>
                <td>Просмотры</td>
                <td></td>

            </tr>
        {% for my_array_s in my_array%}

            <tr>
                <td style="text-align: center">{{ my_array_s.0 }}</td>
                <td style="text-align: left"><a href="{% url 'backendout5' %}?i={{ my_array_s.0 }}">{{ my_array_s.1 }}</a></td>
                <td style="text-align: center">{{ my_array_s.2 }}</td>
                <td style="text-align: center">{{ my_array_s.3 }}</td>
                <td style="text-align: left"><a href="{% url 'backendout5' %}?i={{ my_array_s.0 }}">Подробнее</a></td>

            </tr>
    {% endfor %}
    </table>

{% endblock content %}
