{% extends 'base.html' %}
{% block title %}<title>Backend 18</title>{% endblock title %}
{% block content %}
    <style>
        div{
            text-align: left;
            word-wrap: normal;
        }
        .table-two{
            margin-left: 400px;
            margin-top: -150px;
        }
    </style>
    <div>Страница товаров</div>

    <h2>Фильтрация при двух условиях</h2>
    <div>
        <h3><div>Задача 1</div></h3>
        <p class="serif">Создать в базе данных таблицу товаров: </p>
        <h4>
            <div>id</div>
            <div>tovarname</div>
            <div>price</div>
            <div>sale</div>
            <div>category</div></h4>

        <div>Пусть будет всего  три товара у нас там.</div>
        <div> Вывести на главной странице проекта список(массив) этих товаров из бд <br>
        <div>По нажатию на любой товар добавить  его в корзину желаний.<br>
            Т е записать в сессию эти товары.</div><br>

        </div>

        <h3><div>Задача 2</div></h3>
        Создать страницу “корзина желаний” , на которой можно было юзеру убрать из списка желаний какой то товар.<br>
    </div>
    <h4><div>Решение</div></h4>
    <div style="color: #003366; margin-bottom: 20px;">Страница товаров</div>
    <table border="2">
        <tr>
            <td>id</td>
            <td>название</td>
            <td>цена</td>
            <td>скидка</td>
            <td>категория</td>
            <td>Посмотреть</td>

        </tr>
        {% for all_goods_s in all_goods %}
            <tr>
                <td>{{ all_goods_s.0 }}</td>
                <td>{{ all_goods_s.1 }}</td>
                <td>{{ all_goods_s.2 }}</td>
                <td>{{ all_goods_s.3 }}</td>
                <td>{{ all_goods_s.4 }}</td>
                <td><a href="http://127.0.0.1:8888/backendout20?i={{ all_goods_s.0 }}&name={{ all_goods_s.1 }}&price={{ all_goods_s.2 }}&sale={{ all_goods_s.3 }}&categ={{ all_goods_s.4 }}">В карзину</a></td>

            </tr>
        {% endfor %}

    </table>
    <div class="table-two">
    <table border="2">
        <tr>
            <td>id</td>
            <td>название</td>
            <td>цена</td>
            <td>скидка</td>
            <td>категория</td>
            <td>Посмотреть</td>

        </tr>
        {% for my_arr_s in my_arr %}
            <tr>
                <td>{{ my_arr_s.0 }}</td>
                <td>{{ my_arr_s.1 }}</td>
                <td>{{ my_arr_s.2 }}</td>
                <td>{{ my_arr_s.3 }}</td>
                <td>{{ my_arr_s.4 }}</td>
                <td><a href="http://127.0.0.1:8888/backenddel20?i={{ my_arr_s.0 }}">удалить</a></td>
            </tr>
        {% endfor %}
    </table>
    </div>


{% endblock content %}