{% extends 'base.html' %}
{% block title %}<title>Backend 14</title>{% endblock title %}
{% block content %}
    <style>
        div{
            text-align: left;
            word-wrap: normal;
        }
    </style>
<div>Страница товаров</div>

<h2> Поиск в базе данных товаров</h2>
<div>
    <h3><div>Задача 1</div></h3>
    <p class="serif">Создать в базе данных таблицу товаров: </p>
    <h3>id
        <div>tovarname</div>
        <div>price</div>
        <div>sale</div></h3>
    <div>Пусть будет всего  три товара у нас там.</div>
    <div>Вывести на главной странице проекта список(массив) этих товаров из бд желательно в таблице </div>
    <div>Плюс делаем input для поиска данных по базе и кнопку найти </div>

    <h3><div>Задача 2</div></h3>
    При нажатии на “найти” - нужно сделать поиск в базе введённого товара и <br>
    если он удачен - вывести на следующей странице результаты в виде списка например<br>
    Если поиск ничего не дал , выводим на след стр «извините поиск не дал результатов»<br>
</div>
<h4><div>Решение</div></h4>
<table border="2">
    <tr>
        <td>id</td>
        <td>название</td>
        <td>цена</td>
        <td>скидка</td>

    </tr>
    {% for all_goods_s in all_goods %}


            {% csrf_token %}
            <tr>
                <td>{{ all_goods_s.0 }}</td>
                <td>{{ all_goods_s.1 }}</td>
                <td>{{ all_goods_s.2 }}</td>
                <td>{{ all_goods_s.3 }}</td>

            </tr>

    {% endfor %}
</table>
    <form action="/backendout14/" method="post">
    {% csrf_token %}
    <input type="text" name="name" value="" placeholder="Введите название товара">
        <button>искать</button>
    </form>
{% endblock content %}