{% extends 'base.html' %}
{% block title %}<title>Backend 19</title>{% endblock title %}
{% block content %}
    <style>
        div{
            text-align: left;
            word-wrap: normal;
        }
    </style>
    <div>Страница товаров</div>

    <h2>Фильтрация при двух условиях</h2>
    <div>
        <h3><div>Задача 1</div></h3>
        <p class="serif">Создать в базе данных таблицу товаров: </p>
        <h4>
            <div>id</div>
            <div>tovarname</div>
            <div>price</div>
            <div>sale</div>
            <div>category</div></h4>

        <div>Пусть будет всего  три товара у нас там.</div>
        <div> Вывести на главной странице проекта список(массив) этих товаров из бд <br>


        </div>

        <h3><div>Задача 2</div></h3>
        Вывести на главной странице проекта список(массив) этих товаров из бд с названиями категории, именем товара и ценой<br>
        Но<br>
        Сделать вывод товаров с показом фейковых ид-шников товаров, <br>
        Т е например у нас товар имеет id:1 но нам выставили задачу вывести порядковые номера товаров более большие чем есть на самом деле. <br>
        Задача сделать например вывод номеров товаров так:<br>
        если товар имеет ид-шник 1 - то вывести на странице нужно ему 1031<br>
        если номер 2 - выводим 1032 и т д<br>
    </div>
    <h4><div>Решение</div></h4>
    <div style="color: #003366; margin-bottom: 20px;">Страница товаров</div>
    <table border="2">
        <tr>
            <td>Простой id</td>
            <td>название</td>
            <td>цена</td>
            <td>скидка</td>
            <td>категория</td>
            <td>Посмотреть</td>
{#            'id', 'tovarname', 'price', 'price', 'category'#}
        </tr>
        {% for all_goods_s in all_goods_main %}
            <tr>
                <td>{{ all_goods_s.id }}</td>
                <td>{{ all_goods_s.tovarname }}</td>
                <td>{{ all_goods_s.price }}</td>
                <td>{{ all_goods_s.sale }}</td>
                <td>{{ all_goods_s.category }}</td>

{#                <form action="{% url 'backendoutpk19'  pk=all_goods_s.id %}" method="get">#}
{#                    <td><a href="{% url 'backendoutpk19' pk=all_goods_s.id %}">Нажать</a></td>#}
{#                </form>#}
                <form action="{{ all_goods_s.get_absolute_url }}" method="get">
                    <td><a href="{{ all_goods_s.get_absolute_url }}">Нажать</a></td>
                </form>
            </tr>
        {% endfor %}

    </table>{% comment %}{% endcomment %}

    <h4><div>Изменненый</div></h4>
    <table border="2">
        <tr>
            <td>Изменненый id</td>
            <td>название</td>
            <td>цена</td>
            <td>скидка</td>
            <td>категория</td>
            <td>Посмотреть</td>

        </tr>
        {% for all_goods_s in all_goods %}
            <tr>
                <td>{{ all_goods_s.0 }}</td>
                <td>{{ all_goods_s.1 }}</td>
                <td>{{ all_goods_s.2 }}</td>
                <td>{{ all_goods_s.3 }}</td>
                <td>{{ all_goods_s.4 }}</td>
                <td><a href="http://127.0.0.1:8888/backendout19?i={{ all_goods_s.0 }}&name={{ all_goods_s.1 }}&price={{ all_goods_s.2 }}&sale={{ all_goods_s.3 }}&categ={{ all_goods_s.4 }}">Нажать</a></td>

            </tr>
        {% endfor %}

    </table>




{% endblock content %}