.content_index{
    display: block;
}

.error{
    border: 1px solid red;
}
.success{
    border: 1px solid green;
}
.react{
    color: red;
    font-size: medium;
}

.reactt{
    color: red;
    font-size: x-large;
}

.react7{
    color: #660030;
}
/*dz teact7*/
.block{
    color: #d21c1c;
}

.wrapper{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    margin-top: 10px;
}
.wrapper > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
}
.test{
    border: 2px solid darkgreen !important;
}