{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Title</title>{% endblock title %}
    <link rel="stylesheet" href="{% static 'index/css/index.css' %} ">

    {% block sdn %}
    {% endblock sdn  %}
</head>
<body>
{#<style>#}
{#    .go_main{#}
{#        font-weight: bolder;#}
{#    }#}
{#</style>#}
<h2><p class="go_main"><a href="{% url "index" %}" >Перейти на главную</a></p> </h2>
{% block content %}
{%  endblock content %}
</body>
</html>