{% extends 'base.html' %}
{% block title %}<title>BackendOut 17</title>{% endblock title %}
{% block content %}
    <div class="container">
    <style>
        .color-prod{
            color: red;
            font-weight: bolder;
        }
    </style>
    <table border="2">
        <tr>
            <td>id</td>
            <td>название</td>
            <td>цена</td>
            <td>скидка</td>
            <td>категория</td>

        </tr>
        {% for all_goods_s in all_goods %}


            <tr>
                <td>{{ all_goods_s.0 }}</td>
                <td>{{ all_goods_s.1 }}</td>
                <td>{{ all_goods_s.2 }}</td>
                <td>{{ all_goods_s.3 }}</td>
                <td>{{ all_goods_s.4 }}</td>
            </tr>

        {% endfor %}
        <div class="color-prod" >{{ len_null }}</div><br>
    </table>
    </div>
{% endblock content %}

